/*-- scss:defaults --*/

$primary: #3aa6d3;
$body-bg: #10202b;
$body-color: #edf6fb;
$link-color: #70c8ed;

table {
  border: 1px solid #375a7f !important;
}

/*-- scss:rules --*/

.navbar {
  background-color: #10202b !important;
}

